<span class="score">{{ score }}</span>

<div class="board-wrapper">
  <div class="board"
       (drop)="onDrop($event)"
       (dragover)="onDragOver($event)">
    <div *ngFor="let blocksRow of board; let iBlockRow = index"
         class="block-row-tile">
      <div *ngFor="let row of blocksRow; let iBlock = index"
           class="block-tile">
        <div *ngFor="let innerRow of row; let iRow = index"
             class="inner-row">
          <div *ngFor="let tile of innerRow; let iTile = index"
               class="tile"
               [id]="'board;' + iBlockRow + ';' + iBlock + ';' + iRow + ';' + iTile"
               [ngClass]="{
                'filled': tile.isFilled,
                'empty': !tile.isFilled,
                'preview': tile.isProjection,
                'match': tile.isMatch
              }">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="shape-set-wrapper">
  <div class="shape-set">
    <div *ngFor="let shape of currentPlayShapes; let iShape = index"
         class="shape"
         draggable="true"
         [ngClass]="{
           'dragged': shape.isBeingDragged
         }"
         (dragend)="onDragEnd($event, shape)"
         (dragstart)="onDragStart($event, shape)">
      <div *ngFor="let blockRow of shape.pattern"
           class="block-row-tile">
        <div *ngFor="let block of blockRow"
             class="block-tile">
          <div *ngFor="let row of block"
               class="inner-row">
            <div *ngFor="let tile of row"
                 class="tile"
                 (mousedown)="setStartPoint($event, shape)"
                 [id]="'shape-' + iShape + ';' + tile.coords.iBlockRow + ';' + tile.coords.iBlock + ';' + tile.coords.iRow + ';' + tile.coords.iTile"
                 [ngClass]="{
                'filled': tile.isFilled,
                'empty': !tile.isFilled
               }">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="board-wrapper">
  <div class="board">
    <div *ngFor="let blocksRow of generatorBoard; let iBlockRow = index"
         class="block-row-tile">
      <div *ngFor="let block of blocksRow; let iBlock = index"
           class="block-tile">
        <div *ngFor="let row of block; let iRow = index"
             class="inner-row">
          <div *ngFor="let tile of row; let iTile = index"
               (click)="tile.isFilled = !tile.isFilled"
               class="tile"
               [id]="'generator-board;' + iBlock + ';' + iRow + ';' + iTile"
               [ngClass]="{
                  'filled': tile.isFilled,
                  'empty': !tile.isFilled
                }">
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="generateShape()">Generate</button>
</div> -->

<div *ngIf="gameState.isGameOver"
     class="game-state-screen">
  <div class="game-over-screen">
    <span>
      Game Over
    </span>
    <span>
      Your score: {{ score }}
    </span>
    <button (click)="startGame()">Restart</button>
  </div>
</div>