.board-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    position: relative;
}

.board {
    display: flex;
    flex-direction: column;
}

.shape-set-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.score-board {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
    padding: 10px 0 20px;

    .score {
        font-size: 40px;
    }

    .high-score {
        font-size: 20px;

        position: absolute;
        transform: translateX(150px);
    }
}

.shape-set {
    max-width: 100vw;
    margin-top: 40px;
    display: grid;
    width: 100%;
    padding: 0 100px;
    grid-template-columns: 260px 260px 260px;

    justify-content: center;

    grid-column-gap: 30px;
    grid-row-gap: 30px;

    .shape {
        max-width: 260px;

        justify-self: center;
        width: max-content;
        height: max-content;
        display: flex;
        flex-direction: column;

        .block-tile {
            border: 0px solid transparent !important;
        }
        .tile {
            &.empty {
                border: 1px solid transparent !important;
            }
        }
    }
}

.board-wrapper {
    .block-row-tile {
        &:not(:last-child) {
            &:after {
                content: "";
                z-index: 1;
                position: absolute;
                left: 0;
                bottom: -1px;
                height: 3px;
                background-color: #000;
                width: 100%;
                pointer-events: none;
            }
        }
    }
    .block-tile {
        position: relative;
        &:not(:last-child) {
            &:after {
                content: "";
                z-index: 1;
                position: absolute;
                right: -1px;
                top: 0;
                width: 3px;
                background-color: #000;
                height: 100%;
                pointer-events: none;
            }
        }
    }
}

.block-row-tile {
    display: flex;
    position: relative;
}

.block-tile {
    display: flex;
    flex-direction: column;

    .inner-row {
        display: flex;

        .tile {
            width: 50px;
            height: 50px;
            border: 1px solid grey;

            &.empty {
                // background-color: #fff;
            }
            &.preview {
                background-color: #c9c9c9;
            }
            &.filled {
                background-color: #7b7b7b;
                border: 1px #c9c9c9 solid;
            }
            &.match {
                background-color: #cbff3e;
                border: 1px #7b7b7b (232, 255, 129);
            }
        }
    }
}

.game-state-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba($color: #ffffff, $alpha: 0.8);

    .game-over-screen {
        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;

        transform: translateY(-150px);

        > span {
            &:nth-child(1) {
                font-size: 38px;
                font-weight: bold;
                margin-bottom: 4px;
            }
            &:nth-child(2) {
                font-size: 30px;
                margin-bottom: 20px;
            }
        }

        > button {
            cursor: pointer;
            outline: none;

            width: 200px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 30px;
        }
    }
}
